absl-py==0.4.1
alembic==1.0.10
aniso8601==6.0.0
astor==0.7.1
astroid==1.6.5
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
beautifulsoup4==4.4.1
blinker==1.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==6.7
cloudpickle==0.5.6
configparser==3.5.0
crypto==1.4.1
cycler==0.10.0
dask==0.19.2
decorator==4.3.0
dominate==2.3.5
enum34==1.1.6
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.4.0
Flask-Cors==3.0.7
Flask-JWT==0.3.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-Moment==0.8.0
Flask-MongoAlchemy==0.7.2
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WhooshAlchemy==0.56
funcsigs==1.0.2
gast==0.2.0
grpcio==1.15.0
gunicorn==19.9.0
h5py==2.8.0
html5lib==0.999
idna==2.8
ipaddress==1.0.22
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==3.5.0
Mako==1.0.12
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==2.19.2
marshmallow-sqlalchemy==0.16.3
mccabe==0.6.1
mercurial==3.7.3
mock==2.0.0
MongoAlchemy==0.19
mysqlclient==1.3.7
Naked==0.1.31
networkx==2.2
numexpr==2.6.8
numpy==1.14.5
pandas==0.23.4
passlib==1.7.1
pbr==4.2.0
Pillow==5.2.0
protobuf==3.6.1
psycopg2==2.7.4
pyasn1==0.4.5
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0
PyJWT==1.4.2
pylint==1.9.3
pymongo==2.8.1
pyparsing==2.2.1
pyPdf==1.13
python-dateutil==2.7.3
python-editor==1.0.4
pytz==2018.5
PyWavelets==1.0.1
PyYAML==3.13
reportlab==3.3.0
requests==2.22.0
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==0.17.0
scour==0.32
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.4
SQLAlchemy-ImageAttach==1.1.0
subprocess32==3.5.2
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
toolz==0.9.0
uniconvertor==1.1.5
unity-lens-photos==1.0
urllib3==1.25.3
visitor==0.1.3
Wand==0.4.4
Werkzeug==0.14.1
wrapt==1.10.11