body {
    font-family: 'Nunito', sans-serif;
}
header {
    box-shadow: 0 2px 10px rgba(200, 200, 200, 0.5);
}
.navbar {
    padding-bottom: 20px;
}
.container-fluid {
    width: 90%;
    margin: auto;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 17px;
    line-height: 23px;
    color: #5473c3;
    padding-left: 30px;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(0, 0, 0, 1);
    background: black;
}
.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link
.navbar-dark .navbar-nav .nav-item.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #5473c3;
    font-weight: bold;
}
.navbar .navbar-collapse {
    margin-top: 10px;
}
.btn-group {
    height: 50px;
}
.btn.btn-documents {
    background: #C4C4C4;
    border-radius: 9px 0px 0px 9px;
    border: none;
    font-weight: 500;
    font-size: 15px;
}
.search-input {
    background: rgba(41, 222, 70, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.19);
    height: 50px;
    margin-left: -3px;
    padding-top: 3px;
}
.btn.btn-primary.btn-search {
    background: #5473C3;
    border-radius: 0px 9px 9px 0px;
    margin-left: -10px;
}
#buildingpermit-wrapper h1 strong {
    color: green;
}
header h1 {
    font-weight: 500;
    font-size: 47px;
    line-height: 55px;
    color: rgba(0, 0, 0, 0.65);
    margin-left: 95px;
    margin-top: 50px;
}
.btn.btn-create {
    background: #214AB1;
    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #fff!important;
    padding: 15px 70px;
    padding-top: 8px;
    margin-top: 60px;
}
#permit-wrapper {
    width: 70%;
    margin: 90px auto 40px auto;
}
#permit-wrapper h6 {
    font-size: 25px;
    line-height: 29px;
    color: #236A7A;
    margin-top: 10px;
}
#permit-wrapper h6.building {
    margin-top: 20px;
}
.btn.btn-need {
    background: #FD4A57;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #FFF!important;
    margin-top: 70px;
    padding: 15px 25px;
    padding-top: 8px;
}
.consult-div {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}
#permit-wrapper p {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 60px;
}
.consult-div hr,
footer hr {
    border: 1px solid #000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
#buildingpermit-wrapper h1 {
    margin-top: 55px;
}
.master-builder {
    background: #214AB1;
    padding: 20px 40px;
}
.master-builder p {
    font-size: 18px;
    color: #FFF;
}
.master-builder p span {
    font-weight: bold;
    font-size: 36px;  
    line-height: 54px; 
}
footer {
    padding-bottom: 80px;
}
.footer {
    width: 50%;
    margin: 80px auto 0 auto;
}
.mt-30 {
    margin-top: 30px;
}
footer h5 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.65);
}
footer p,
footer p a {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
}
.linkedin {
    margin-left: 8px;
}
footer h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    padding-top: 40px;
}
footer .text-right {
    margin-top: 10px;
}
.ask-questions {
    float: right;
    position: relative;
    top: -45px;
}

/* Signup page */
.signup-wrapper {
    width: 40%;
    margin: auto;
    margin-bottom: -25px;
}
.signup-logo {
    margin-top: 40px;
    margin-bottom: 20px;
}
.signup-div,
.signup-div input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}
.signup-div {
    padding: 20px;
}
.signup-div h5 {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #000;
    margin-bottom: 40px;
}
.signup-div label {
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.65);
}
.signup-div button {
    background: rgba(33, 74, 177, 0.77);
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFF;
    padding: 10px 40px;
    padding-top: 6px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.signup-wrapper p {
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.65);
    padding: 10px 0 0 20px;
}
.signup-wrapper p a {
    color: #214AB1;
}
.signup-wrapper section {
    width: 60%;
    margin: auto;
}
.signup-wrapper section .btn-submit {
    width: 100%;
}

/* building permit page */
.building-permit {
    background: rgba(233, 16, 16, 0.53);
    margin-top: 20px;
}
.select-city .permit {
    margin-left: 50px;
    /*margin-top: -70%;*/
}
.select-city .secure-click {
    margin-left: 40px;
}
.select-city h2 {
    padding-top: 30px;
    font-weight: 900;
    font-size: 38px;
    line-height: 45px;
    color: #FFF;
}
.select-city h1 {
    font-weight: bold;
    font-size: 41px;
    line-height: 48px;
    color: #FFFFFF;
}
.dropdown-space {
    margin-top: 15px;
    margin-left: 40px;
}
#select-city {
    background: #214AB1;
    border: #214AB1;
    font-size: 20px;
    line-height: 23px;
    color: #FFF;
    padding: 15px;
    padding-top: 12px;
}
.select-city h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.selectcity.dropdown-menu {
    background: #C4C4C4;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
}
.dropdown-item.active, .dropdown-item:active,
.dropdown-item:focus, .dropdown-item:hover {
    background: transparent;
    color: #F33B3B;
}
.selectcity.dropdown-menu .dropdown-menu {
    background: #C4C4C4;
}
.btn.btn-apply {
    font-size: 20px;
    line-height: 23px;
    color: #FFF;
    background: #FD4A57;
    border-color: #FD4A57;
    padding: 15px 40px;
    padding-top: 10px;
    margin-top: 40px;
}
.btn.btn-apply img {
    height: 15px;
    margin-top: -4px;
}
.btn.btn-create.btn-chart {
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
    color: #FFF;
    padding: .375rem .75rem;
    margin-bottom: 50px;
}
#howitworks {
    background: url(./../images/howitworks.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}
.howitworks {
    width: 90%;
    margin: auto;
    padding: 40px 0;
    margin-bottom: 60px;
}
.howitworks h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    margin-bottom: 30px;
}
.howitworks h6 {
    margin: auto;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
}
.howitworks img {
    height: 130px;
    margin-bottom: 20px;
}
.online-planning {
    width: 70%;
    margin: 40px auto 20px auto;
}
.howitworks .online-planning img {
    height: auto;
    margin-top: 15px;
    position: relative;
    left: -55px;
}
.online-planning p {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
}

/* building permit action */
.action-wrapper h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.65);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.action-wrapper p,
.building-permit p,
.land-info p {
    margin-left: 95px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.action-wrapper p span,
.building-permit p span,
.land-info p span {
    color: #F33B3B;
    display: block;
    padding-top: 20px;
}
.action-wrapper p span a,
.building-permit p span a {
    color: #214AB1;
}
/* e charting page */
.building-permit form {
    margin-top: 30px;
    margin-bottom: 10px;
}
.building-permit label {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    text-transform: uppercase;
}
.building-permit input {
    background: rgba(196, 196, 196, 0.3);
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    transform: rotate(0deg);
    width: 50%;
}
.building-permit #surveyplan {
    width: 15%;
}
.building-permit #email {
    width: 35%;
}
.building-permit button span {
    font-size: 43px; 
}

/* Land Information */
#form-wrapper {
    width: 100%;
    margin: 30px auto;
}
#form-wrapper .form-wrap {
    width: 80%;
    margin: auto;
}
.pt-40 {
    padding-top: 40px;
}
/* success page */
#success-wrapper p {
    width: 37%;
    margin: auto;
    margin-top: -30px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: rgba(0, 0, 0, 0.65);
}
a:hover {
    text-decoration: none;
}

/* request page */
#request-wrapper {
    background: url(./../images/request.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 130px 0 40px 80px;
}
#request-wrapper h1 {
    font-weight: 500;
    font-size: 53px;
    line-height: 62px;
    color: rgba(0, 0, 0, 0.65);
    margin-left: 40px;
}
.request-form {
    width: 70%;
    margin: auto;
    padding: 40px;
}
.request-form .reqform {
    width: 80%;
}
.request-form label {
    font-weight: bold;
    font-size: 29px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.65);
}
.request-form input, 
.submission {
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.65);
}
.btn.btn-request {
    background: #ff2020;
    border-radius: 5px;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 15px 30px;
    padding-top: 10px;
    margin-top: 40px;
}
.submission {
    width: 40%;
    display: inline-block;
    position: relative;
    top: 65px;
    left: 10px;
}
.success-image {
    margin-top: 40px;
    margin-left: 20px;
}
.request-form img {
    margin-left: 20px;
    margin-top: 40px;
}

/* contact page */
#contact-wrapper {
    background: url(./../images/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.contact-page {
    background: url(./../images/contact-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}
.contact-page-div {
    padding: 80px 0;
}
.buttongroup {
    border-left: 1px solid #214AB1;
    padding-left: 20px;
}
.buttongroup .btn-group {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border: 1.7px solid #214AB1;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #214AB1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.buttongroup img {
    border-right: 1px solid #214AB1;
}
.buttongroup .btn-group .btn-primary {
    background: transparent;
    border-color: transparent;
    color: #214AB1;
}
.contact-page hr {
    width: 40%;
    background: #ccc;
    margin: auto;
    margin-top: 60px;
}
/*consent page */
.btn.btn-request.btn-build {
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}
#consent-wrapper .container-fluid {
    width: 70%;
}
#consent-wrapper p {
    margin-left: 0;
    margin-top: 15px;
}
.pd-10 {
    padding: 10px;
}
#consent-wrapper .action-wrapper p span {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
/* faq page */
#faq-wrapper {
    background: url(./../images/faq-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.faq-background {
    background: #FF5A5F;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
    color: #FFF;
    padding: 15px;
}
.faq h5,
.faq-class h5 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #214AB1;
}
.faq-class {
    background: #FFFFFF;
    border-radius: 30px;
    padding-top: 20px;
}
.faq-class h5 {
    padding-left: 5px;
    padding-right: 5px;   
}
.faq-background.blue-background {
    background: #214AB1;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.form-control:focus {
    outline: none!important;
}