<style>
        .building-permit {
            background: url(../static/images/background.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .building-permit img {
            margin-left: 85px;
        }
        .building-permit button img {
            margin-left: 0;
            margin-top: -6px;
        }
        .building-permit button#chart {
            margin-left: 100px;
        }
        .building-permit p {
            margin-left: -40px;
            width: 80%;
        }
        .building-permit .form-wrapper {
            margin-left: 90px;
        }
        .btn.btn-create.btn-chart {
            margin-top: 35px;
        }
        .building-permit h1 {
            width: 90%;
            margin: 30px 0;
            color: #fff;
            font-weight: bold;
            font-size: 43px;
            line-height: 64px;
        }
        #select-city {
            background: #C4C4C4;
            border: #C4C4C4;
            color: rgba(0, 0, 0, 0.65);
        }
        @media screen and (max-width: 768px) {
            .building-permit h1 {
                font-size: 30px;
                line-height: 40px;
            }
            .building-permit .form-wrapper,
            .building-permit p {
                margin-left: 0;
            }
        }
        @media screen and (max-width: 990px) {
            .building-permit img,
            .building-permit button#chart {
                margin-left: 0;
            }
        }
        #dropdownitem.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
                /*top: 90px!important;*/
                left: 100%!important;
        }
    </style>