    <footer data-aos="zoom-in">
        <div class="container">
            <div class="footer">
                <hr>
                <div class="mt-30">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div>
                                <h5>GET TO KNOW US</h5>
                                <div class="mb-30">
                                    <p><a href="">About Us</a></p>
                                    <p><a href="">FAQs</a></p>
                                    <p><a href="">Terms of Use</a></p>
                                    <p><a href="">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div>
                                <a href="https://www.facebook.com/master.builder.3150"><img src="../static/images/facebook.png" class="img-fluid" alt="facebook"></a>
                                <a href="https://mobile.twitter.com/masterbuilderng"><img src="../static/images/twitter.png" class="img-fluid" alt="twitter"></a>
                                <a href="https://www.instagram.com/masterbuilderng/?hl=en"><img src="../static/images/instagram.png" class="img-fluid" alt="instagram"></a>
                                <a href=""><img src="../static/images/linkedin.png" class="img-fluid linkedin" alt="linkedin"></a>
                            </div>
                            <div class="text-right">
                                <p>Physical Office Address: 33 Wole Adetipe Street, Agege, Lagos, Nigeria.</p>
                                <p>09077514639 (Mon-Fri from 9am-5pm) - contact@landquery.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h6>© 2019 LandQuery Global Limited</h6>
            </div>
            <a href=""><img src="../static/images/help.png" class="img-fluid ask-questions" alt="Ask questions"></a>
        </div>
    </footer>