    <style>
        .building-permit {
            margin-top: 0;
            background: url(../static/images/real_estate.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .building-permit button img {
            margin-left: 0;
            margin-top: -6px;
        }
        .building-permit p {
            margin-left: 0;
        }
        .btn.btn-create.btn-chart {
            margin-top: 35px;
        }
        .land-info h1 {
            padding-top: 30px;
            font-weight: 500;
            font-size: 55px;
            line-height: 83px;
            color: #10158B;
        }
        .building-permit h2 {
            width: 80%;
            margin: auto;
            font-weight: 600;
            font-size: 31px;
            line-height: 46px;
            color: #000;
        }
        #select-city {
            background: transparent;
            margin-bottom: 10px;
            width: 100%;
            text-align: left;
            line-height: 1.5; 
            padding: .375rem .75rem;
            padding-top: .375rem; 
            font-size: 16px;
        }
        .support {
            color: red;
        }
        .building-permit .form-control,
        #select-city {
            height: 45px;
            border: 1px solid #ced4da;
            color: rgba(0, 0, 0, 0.65);
        }
        .land-info input {
            width: 100%;
            border: 1px solid #000;
        }
        .building-permit #surveyplan {
            width: 30%;
        }
        .building-permit #email {
            width: 75%;
        }
        @media screen and (max-width: 768px) {
            .building-permit h1 {
                font-size: 55px;
                line-height: 50px;
            }
            .building-permit h2 {
                width: 90%;
                font-size: 30px;
                line-height: 30px;
            }
            #form-wrapper {
                width: 100%;
            }
        }
        #dropdownitem.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
                /*top: 90px!important;
                left: 100%!important;
        }
        .land-info label {
            color: #000;
        }
    </style>