    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/highlight.min.js"></script>
    <script src="../../static/js/aos.js"></script>
    <script src="../../static/js/chosen.jquery.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });
    </script>

    <script>
        hljs.initHighlightingOnLoad();
        $('.hero__scroll').on('click', function(e) {
            $('html, body').animate({
                scrollTop: $(window).height()
            }, 1200);
        });
    </script>
    <script>
        $(".chosen-select").chosen();
    </script>