{% extends 'layout.html' %}
{% block title %} 
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

	<div class="text-center about-wrapper">
		<div class="container">
			<h1>Land Query</h1>
			<h5>we are on a mission to fast track sustainable development in Nigerian Cites.</h5>
		</div>
	</div>

	<div class="container">
		<div class="text-center role-wrapper">
			<h1>Our Role</h1>
			<p>To provide online consultancy services that will ensure the emergence of sustainable development within the totality of the built environment.</p>
		</div>
	</div>
	<div class="container">
		<div class="team-wrapper mt-50">
			<h1 class="text-center">Meet Our Team</h1>
			<div class="d-flex">
				<div class="p-2">
					<a href=""><img src="../static/images/placeholder.png" class="img-fluid" alt=""></a>
				</div>
				<div class="p-2">
					<a href=""><img src="../static/images/placeholder.png" class="img-fluid" alt=""></a>
				</div>
				<div class="p-2">
					<a href=""><img src="../static/images/placeholder.png" class="img-fluid" alt=""></a>
				</div>
				<div class="p-2">
					<a href=""><img src="../static/images/placeholder.png" class="img-fluid" alt=""></a>
				</div>
				<div class="p-2">
					<a href=""><img src="../static/images/placeholder.png" class="img-fluid" alt=""></a>
				</div>
			</div>
		</div>
	</div>

{% endblock%}