{% extends 'layout.html' %}
{% block title %} 
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

	<div class="text-center about-wrapper">
		<div class="container">
			<h1>Land Query</h1>
			<h5>we are on a mission to fast track sustainable development in Nigerian Cites.</h5>
		</div>
	</div>

	<div class="container">
		<div class="text-center role-wrapper">
			<h1>Our Role</h1>
			<p>To provide online consultancy services that will ensure the emergence of sustainable development within the totality of the built environment.</p>
		</div>
	</div>
	<div class="container">
		<div class="text-center team-wrapper mt-50">
			<h1>Meet Our Team</h1>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<img style="border-radius:50%" src="../static/images/maryam.png" class="img-fluid" alt="">
					<div class="team-div">
						<h5>Muritadha Maryam</h5>
						<p>Technical Lead</p>
                        <a href="https://www.linkedin.com/in/maryam-olabisi-muritadha" target="_blank" class="btn btn-info btn-join quickview-btn" title="View Profile"><i class="fa fa-linkedin"></i></a>
                    </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<img style="border-radius:50%" src="../static/images/ifeoluwa.jpeg" class="img-fluid" alt="">
					<div class="team-div">
						<h5>Omidiji Ifeoluwa</h5>
						<p>Product Manager</p>
                        <a href="https://www.linkedin.com/in/ifeoluwa-omidiji-839820167" target="_blank" class="btn btn-info btn-join quickview-btn" title="View Profile" ><i class="fa fa-linkedin"></i></a>
                    </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<img style="border-radius:50%" src="../static/images/shakirah.jpeg" class="img-fluid" alt="">
					<div class="team-div">
						<h5>Usman Sakirat Kehinde</h5>
						<p>Technical Associate</p>
                        <a href="linkedin.com/in/sakirat-kehinde-usman-3a4600117/" target="_blank" class="btn btn-info btn-join quickview-btn" title="View Profile"><i class="fa fa-linkedin"></i></a>
                    </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<img style="border-radius:50%" src="../static/images/leo.jpeg" class="img-fluid" alt="">
					<div class="team-div">
						<h5>Leonard Ugorji</h5>
						<p>Design Associate</p>
                        <a href="" target="_blank" class="btn btn-info btn-join quickview-btn" title="View Profile"><i class="fa fa-linkedin"></i></a>
                    </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<img style="border-radius:50%"src="../static/images/olamide.jpeg" class="img-fluid" alt="">
					<div class="team-div">
						<h5>Olamide Odedeji</h5>
						<p>Interactive Design Lead</p>
                        <a href="" target="_blank" class="btn btn-info btn-join quickview-btn" title="View Profile"><i class="fa fa-linkedin"></i></a>
                    </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<img style="border-radius:50%" src="../static/images/chris.jpeg" class="img-fluid" alt="">
					<div class="team-div">
						<h5>Handsome Nwaoru</h5>
						<p>Resesarch Associate</p>
                        <a href="https://www.linkedin.com/in/handsomenwaoru" target="_blank" class="btn btn-info btn-join quickview-btn" title="View Profile"><i class="fa fa-linkedin"></i></a>
                    </div>
				</div>
			</div>
		</div>
	</div>

{% endblock%}
