{% extends 'layout.html' %}
{% block title %} 
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}
    <main>
        <div class="action-wrapper" data-aos="fade-up">
            <div class="container-fluid">
                <div>
                    <h1>MATERIAL DOCUMENTS REQUIRED TO PROCESS BUILDING PERMIT </h1>
                    <p>The following materials are required for the processing of building permits.</p>
                    <p><span>It is important to have all the documents ready in other to get a permit.</span></p><br>
                    <p>The requirements include the following;<br>
                        - 5 sets of architectural drawings<br>
                        - 5 sets of structural drawing (to include letter of supervision and calculation sheets).<br>
                        - 5 sets of electrical drawings<br>
                        - 5 sets of mechanical drawings<br><br>
                    </p>
                    <p>- Evidence of land ownership/title document, which could be:<br>
                        &emsp;&emsp;* Stamped duty land purchase reciept;<br>
                        &emsp;&emsp;* Letter of ratification; and;<br>
                        &emsp;&emsp;* Certificate of occupancy (C of O)/Land certificate<br>
                        &emsp;&emsp;* Governor’s consent<br>
                        &emsp;&emsp;* 1 copy of sunprint survey plan; <br>
                    </p>
                    <p>- Current tax clearance certificate;<br>
                        - Sworn affidavit in lieu of Tenement Rate;<br>
                        - 2 copies of environmental technical analysis report to be prepared by a Registered Town Planner where applicable;<br>
                        - Assessment fee and other government reciept(s);<br>
                        - Police Report<br>
                        - Fire Service report iin case of applications for Petrol/Gas Filling stations and high rise buildigs<br><br>
                    </p>
                    <p>- For Company and Corporate bodies;<br>
                        &emsp;&emsp;* Company Tax Clearance (CTC)<br>
                        &emsp;&emsp;* Two (2) Directors Tax Clearance;<br>
                        &emsp;&emsp;* Evidence of PAYE returns; and<br>
                        &emsp;&emsp;* Certificate of Incorporation.<br>
                    </p>
                </div>
                <div>
                    <p class="text-center"><span>*Ensure you have all required documents before proceeding<br> to applying for a building permit if not contact <a href="">support</a></span></p>
                </div>
                <div>
                    <div class="text-center">
                        <a class="btn btn-apply" href="building-permit.html">APPLY FOR BUILDING PERMIT &emsp;<img src="../static/images/arrow.png" class="img-fluid" alt="icon"></a>
                    </div>
                    <div class="consult-div">
                        <hr>
                    </div>
                </div>
            </div>
        </div>   
    </main>
{% endblock %}