{% extends 'layout.html' %}
{% block title %}
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}

{% block style %}
{% include 'includes/_building-permit-styles.html' %}
{%endblock%}

{% block body %}
    <main>
        <div class="select-city" data-aos="fade-down" style="background: rgba(233, 16, 16, 0.53);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div>
                            <img src="../static/images/permit.png" class="img-fluid permit" alt="an image">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="secure-click">
                            <div class="text-center">
                                <h2>SECURE YOUR BUILDING PERMIT WITH A CLICK</h2>
                                <h1>Building a house is good, building a home in a house is better.</h1>
                            </div>
                            <h3>Lets get started !</h3>
                        </div>
                        <div class="dropdown-space">
                            <div class="dropdown">
                                <button type="button" id="select-city" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                  SELECT CITY
                                </button>
                                <div class="selectcity dropdown-menu">
                                    <a class="dropdown-item" href="#"  data-toggle="dropdown">-----LAGOS-----&emsp;<i class="fa fa-angle-right"></i>
                                        <div id="dropdownitem" class="dropdown-menu">
                                            <a class="dropdown-item" href="#">-----AGEGE-----&emsp;<i class="fa fa-angle-right"></i></a>
                                            <a class="dropdown-item" href="#">Link 2</a>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" href="#">----OYO----&emsp;<i class="fa fa-angle-right"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="dropdown">-----ABUJA-----&emsp;<i class="fa fa-angle-right"></i>
                                        <div id="dropdownitem" class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Link 1</a>
                                            <a class="dropdown-item" href="#">Link 2</a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="secure-click">
                            <a class="btn btn-apply" href="building-permit-action">APPLY FOR BUILDING PERMIT &emsp;<img src="../static/images/arrow.png" class="img-fluid" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="consult-div">
                <hr>
            </div>
            <div class="text-center" data-aos="slide-in">
                <a class="btn btn-create btn-chart" href="e-charting"><img src="../static/images/e.png" class="img-fluid" alt="icon">&nbsp;charting &nbsp;<img src="../static/images/arrow.png" class="img-fluid" alt="icon"></a>
            </div>
        </div>
        <section id="howitworks" data-aos="fade-up">
            <div class="howitworks">
                <div class="container-fluid">
                    <h2>How it Works</h2>
                    <div class="d-flex">
                        <div class="p-2 flex-fill">
                            <div class="text-center">
                                <img src="../static/images/echarting.png" class="img-fluid" alt="an icon"><br>
                                <h6 class="building">Click on the e charting menu bar, enter full address of site to check</h6>
                            </div>
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="text-center">
                                <img src="../static/images/gps.png" class="img-fluid" alt="an icon">
                                <h6>Enter northern and eastern co-ordinates from the survey plan</h6>
                            </div>
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="text-center">
                                <img src="../static/images/plan.png" class="img-fluid" alt="an icon">
                                <h6>upload a clear picture of your survey plan</h6>
                            </div>
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="text-center">
                                <img src="../static/images/email.png" class="img-fluid" alt="an icon">
                                <h6 class="building">Enter your e-mail in the space provided</h6>
                            </div>
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="text-center">
                                <img src="../static/images/time.png" class="img-fluid" alt="an icon">
                                <h6 class="building">you’ll be getting your charting report  sent to your mail within the hour</h6>
                            </div>
                        </div>
                    </div>
                    <div class="online-planning">
                        <div class="d-flex">
                            <div class="p-2">
                                <div>
                                    <p>kindly consult with our online planning consultant if you need help</p>
                                </div>
                            </div>
                            <div>
                                <img src="../static/images/consult.png" class="img-fluid" alt="an icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    </main>

{% endblock %}