{% extends 'layout.html' %}
{% block title %}
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

<main>
    <div class="action-wrapper" data-aos="fade-up" id="consent-wrapper">
        <div class="container-fluid">
            <div>
                <h1 class="mt-30">MATERIAL DOCUMENTS REQUIRED TO PROCESS GOVERNOR’S CONSENT</h1>
                <div class="mt-30">
                    <p>
                        1. The Form 1c must be signed by the Omonile traditional Family that has either a Gazette or 
                        Global C/O or in the case of an Individual that has a private C of O granted to him by the Governor
                    </p>
                    <div class="row pd-10">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div>
                                <img src="../static/images/consent-one.png" class="img-fluid" alt="governor's consent" />
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        2. A Deed of Assignment must be prepared by the Buyers lawyer who must include the parties to the transaction, 
                        the cost of the land, size of the land description of the land, the copy of the survey attached to it and 
                        signature of all the parties and witnesses to the transaction.
                    </p>
                    <div class="row pd-10">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div>
                                <img src="../static/images/consent-two.png" class="img-fluid" alt="governor's consent" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div>
                                <img src="../static/images/consent-three.png" class="img-fluid" alt="governor's consent" />
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        3. The Consent will be heavily stamped from the beginning to the end and upon completion and payment of the requisite fees, 
                        the Governor or his representatives such as the Commissioners will sign and date the Consent and stamp it with their official Seal 
                    </p>
                    <div class="row pd-10">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div>
                                <img src="../static/images/consent-four.png" class="img-fluid" alt="governor's consent" />
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        4. The land bureau after that will assign a Consent number to that document for reference purpose for life and 
                        its with this Consent number, your documents will be registered and recorded in their archives for future references.
                    </p>
                    <div class="row pd-10">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div>
                                <img src="../static/images/consent-five.png" class="img-fluid" alt="governor's consent" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-center"><span>still need our help to procure your Governor’s consent by our Lawyers? Kindly click the button down below</span></p>
            </div>
            <div>
                <div class="text-center">
                    <a class="btn btn-create" href="" style="padding: 10px 30px;">Apply for Governor’s consent &emsp;<img src="../static/images/arrow.png" class="img-fluid" alt="icon"></a>
                </div>
                <div class="consult-div">
                    <hr>
                </div>
                <div class="text-center">
                    <a class="btn btn-request btn-build" href="" data-aos="fade-up">APPLY FOR BUILDING PERMIT &emsp;<img src="../static/images/arrow.png" class="img-fluid" alt="icon"></a>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock%}