{% extends 'layout.html' %}
{% block title %}
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

<main>
    <div id="contact-wrapper"></div>
    <div class="contact-page">
        <div class="contact-page-div">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="buttongroup">
                            <div class="btn-group">
                                <img src="../static/images/call.png" class="img-fluid" alt="" />
                                <span itemprop="telephone">
                                    <a href="tel:+2349077514639" type="button" class="btn btn-primary">Call In</a>
                                </span>
                                </div>
                            </div>
                            <div class="btn-group">
                                <img src="../static/images/message.png" class="img-fluid" alt="" />
                                <a type="button" class="btn btn-primary" href="mailto:hiphyhisaac@gmail.com?Subject=A%20Land%20Query" target="_top">Send In A Mail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <hr>
        </div>
    </div>
</main>
{% endblock%}
