{% extends 'layout.html' %}
{% block title %}
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

<main>
    <div id="faq-wrapper"></div>
    <div class="container-fluid">
        <div class="row mt-60">
            <div class="col-md-4 col-lg-4">
                <div class="faq">
                    <h5>WHY DO I NEED PLANNING PERMIT?</h5>
                    <div class="faq-background">
                        <p>
                            Planning is important because it directly affects our physical environment and 
                            in so doing influencing quality of life and general well-being. Planning shapes our environment, 
                            the way we live and work, so there are many advantages to getting involved in the preparation of plans 
                            and obtaining planning permit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="faq-class">
                    <h5>WHAT IS PLANNING ?</h5>
                    <div class="faq-background blue-background">
                        <p>
                            Planning is a system that orders the use and development of land for the benefit of our communities. 
                            The overall aim of the system is to ensure a balance between enabling development while at the same time conserving 
                            and protecting the environment and local amenities. The idea is to create better and balanced environment for people to live, 
                            work, play, pray, recreate and move around with utmost ease.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="faq">
                    <h5>WHY IS PLANNING IMPORTANT?</h5>
                    <div class="faq-background">
                        <p>
                            Planning is important because it directly affects our physical environment and 
                            in so doing influencing quality of life and general well-being. Planning shapes our environment, 
                            the way we live and work, so there are many advantages to getting involved in the preparation of plans 
                            and obtaining planning permit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock%}