<!DOCTYPE html>
<html lang="en">
<head>
    <!-- page specific title -->
    {% block title %}
    {% endblock %}

    <!-- general meta, styles and links -->
  	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="../static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../static/font-awesome-4.7.0/css/font-awesome-animation.min.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/smallerscreen.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/aos.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <!-- page specific styles -->
    {% block style %}
    {% endblock %}
</head>
<body> 
    <!-- header -->
    <header> 
        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="../static/images/logo.png" class="img-fluid" alt="logo"></a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navb">
                <form class="ml-auto">
                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle btn-documents" data-toggle="dropdown">Documents</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Building Permit Process</a>
                                <a class="dropdown-item" href="#">Land Information</a>
                                <a class="dropdown-item" href="#">Governor's Consent</a>
                                <a class="dropdown-item" href="#">C of O</a>
                            </div>
                        </div>
                        <input class="form-control mr-sm-2 search-input" type="text">
                        <button type="button" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="about">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="faq">FAQ</a>
                  </li>
                  <li class="nav-item">
                    {% if current_mail %}
                    <a class="nav-link" href="signin">{{current_mail}}</a>
                    {% else %}
                    <a class="nav-link" href="signin">LOGIN</a>
                    {% endif %} 
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    {% block body %}
        <!-- page specific cover. I removed this from header to make things easier -->
        <!-- Page speecific information -->
    {%endblock%} 

    <!-- common to all layouts: use includes/_prefooter -->
    {% include 'includes/_prefooter.html' %}

    <!-- footer common to both layout: use includes/_footer -->
    {% include 'includes/_footer.html' %}

    <!-- scripts common to both layouts: use includes/_scripts -->
    {% include 'includes/_scripts.html' %}
    
    <!-- page specific scripts -->
    {% block scripts %}
    {% endblock %}
</body>
</html>