{% extends 'layout.html' %}
{% block title %}
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

<div id="request-wrapper">
    <div class="container-fluid">
        <div data-aos="fade-right">
            <h1>We would connect you to some of the leading and experienced architects, surveyors and engineers in the practice....</h1>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-create" href="signup" data-aos="fade-up">Create account</a>
    </div>
</div>

{% endblock%}