{% extends 'layout.html' %}
{% block title %}
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

<div id="request-wrapper">
    <div class="container-fluid">
        <div data-aos="fade-right">
            <h1>We would connect you to some of the leading and experienced architects, surveyors and engineers in the practice....</h1>
        </div>
    </div>
</div>
<div class="request-form">
    <form>
        <div class="reqform">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label" for="">Enter Email</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="email" class="form-control" id="" placeholder="example@gmail.com">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label" for="">Phone</label>
                    </div>
                    <div class="col-lg-9"> 
                        <input type="text" class="form-control" id="" placeholder="08123456789">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="control-label" for="">Request</label>
                    </div>
                    <div class="col-lg-9"> 
                        <input type="text" class="form-control" id="" placeholder="e.g Architect ">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-request" data-aos="fade-up">Request</button>
            <img src="../static/images/success_.png" class="img-responsive success-image" alt="success image" />
            <span class="submission">submission successful, you will be recieving a call from one of our personnels shortly</span>
        </div>
    </form>    
</div>

{% endblock%}