{% extends 'layout.html' %}
{% block title %}
<title> Master Builder - Better way to secure your Building Permit </title>
{% endblock %}
{% block body %}

<div class="request-form">
        <div class="text-center">
            <img src="../static/images/success_.png" class="img-responsive success-image" alt="success image" />
            <p class="submission">Submission successful, your land information report will be sent to your mail, kindly check your mail in the next one hour</p>
        </div>  
</div>

{% endblock%}